client/__pycache__/client.cpython-37.pyc
client/__pycache__/display.cpython-37.pyc
client/__pycache__/displaycontrols.cpython-37.pyc
.vscode/settings.json
.vscode/launch.json
rulebook/TAOE-regel-DE.pdf
rulebook/TAOE-fernspiel-regel-DE.pdf
stars.code-workspace
client/.vscode/settings.json
client/__pycache__/controlarea.cpython-37.pyc
client/__pycache__/square.cpython-37.pyc
client/__pycache__/planet.cpython-37.pyc
client/__pycache__/planetdata.cpython-37.pyc
client/__pycache__/starmap.cpython-37.pyc
client/__pycache__/resources.cpython-37.pyc
client/__pycache__/speciesdata.cpython-37.pyc
client/__pycache__/starcolors.cpython-37.pyc
client/__pycache__/mapsettings.cpython-37.pyc
