client/__pycache__/client.cpython-37.pyc
client/__pycache__/display.cpython-37.pyc
client/__pycache__/displaycontrols.cpython-37.pyc
.vscode/settings.json
.vscode/launch.json
rulebook/TAOE-regel-DE.pdf
rulebook/TAOE-fernspiel-regel-DE.pdf
stars.code-workspace
client/.vscode/settings.json
